#ajax-spinner {
	position:fixed;
	left: 47%;
	top: 47%;
	/*margin: 15px 0 0 15px;*/
	padding: 64px;
	background: white url('../images/spinner.gif') no-repeat top left;
	font-size: 0;
	z-index: 123456;
}