div.divForm{
    padding: 5px;
}

div.divForm>div{
    margin-bottom: 5px;
}

div.divForm input[type=text], div.divForm textarea{
    width: 21.5ex;/*193.95px*/
}

div.divForm select{
    width: 21.7ex;
}

div.divForm div.label{
    float: left;
    display: block;
    width: 120px;/*div.divForm input[type=submit] is same margin-left*/
    clear: both;
}


div.divForm div.input{
    float: left;
}

div.divForm input+span{
    color: red;
}

div.divForm input[type=checkbox]{
    margin: 5px 0px;
}

div.divForm div:last-child{
    clear: both;
    float: none;
}

div.divForm input[type=checkbox], div.divForm input[type=radio]{
    margin-right: 5px;
}
/*
div.divForm input[type=checkbox] + label{
    width: auto;
    display: inline;
}
*/
