/*-----------------flashMessage----------------------------*/
div#flash {
	z-index: 20;
	position: fixed;
	left: 20%;
	right: 20%;
	top: 6%;
	height: auto;
	color: white;
}

div#flash a{
	float: right;
	cursor: pointer;
	text-decoration: none;
	z-index: 25;
	position: absolute;
	top: 8%;
	right: 3%;
}

div.warning, div.info, div.error{
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	z-index: 21;
	font-weight: bold;
	font-size: 180%;
	padding: 2%;
}

div.warning{
	background: #f2b82a;
}

div.info{
	background: #569222;
}

div.error{
	background: #b7000a;
}