input + span, select + span{
	color: red;
	margin-left: 3px;
}

form input[type=radio], form input[type=checkbox]{
	margin-right: 3px;
}

form input[type=submit]{
	cursor: pointer;
	width: auto;
	padding: 5px;
}

form select{
	min-width: 196px;
	padding: 2px;
}

form th {
	padding-right: 15px;
	text-align: right;
}

