div.clear{
	visibility: hidden;
	clear: both;
	float: none;
}

.hidden, .hiddenOut{
	visibility: hidden;
	display: none;
}

.out, .hiddenOut{
	position: absolute;
	top: -999px;
	left: -999px;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

ul.menu li{
	display:inline;
	margin-right: 5px;
}

.fLeft{
	float: left;
}