[submodule "3rdParty/php/Texy"]
	path = 3rdParty/php/Texy
	url = git://github.com/dg/texy.git
[submodule "3rdParty/php/Nette"]
	path = 3rdParty/php/Nette
	url = git://github.com/nette/nette.git
[submodule "3rdParty/js/jQuery"]
	path = 3rdParty/js/jQuery
	url = git://github.com/jquery/jquery.git
[submodule "3rdParty/js/jQuery-ui"]
	path = 3rdParty/js/jQuery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "3rdParty/php/Texyla"]
	path = 3rdParty/php/Texyla
	url = git://github.com/janmarek/Texyla.git
[submodule "3rdParty/php/webLoader"]
	path = 3rdParty/php/webLoader
	url = git@github.com:h4kuna/WebLoader.git
[submodule "php/Exchange"]
	path = php/Exchange
	url = git@github.com:h4kuna/Exchange.git